body {
    background-color: rgb(12, 12, 24);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'Arial', sans-serif; /* Set the font-family */
    color: #fdf5ea;
    text-align: center;
}

.game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-container {
    color: rgb(252, 245, 229);
    padding: 1rem;
    text-align: center;
}

button {
    background-color: transparent;
    border: none;
    padding: 5px;
    font-size: 3rem; 
    cursor: pointer;
}

.btn-container {
    padding: 1rem;
}

.reset-game {
    display: none;
}

.results-container {
    font-family: 'Arial', sans-serif; /* Set the font-family */
    font-size: 18px; /* Set the font size */
    color: #fdf5ea; /* Set the text color */
    text-align: center; /* Align text to the center */
    margin-top: 10px; /* Add margin to the top for spacing */
}